<script src="static/default/script/common/modal.js" th:src="@{/default/script/common/modal.js}"></script>
<script src="static/default/script/common/common.js" th:src="@{/default/script/common/common.js}"></script>
﻿<script src="static/default/script/common/LemonGetList.js" th:src="@{/default/script/common/LemonGetList.js}"></script>
<script src="public/common/pagination/jquery.simplePagination.js" th:src="@{/common/pagination/jquery.simplePagination.js}"></script>
<script src="static/default/script/authority/resources/list.js" th:src="@{/default/script/authority/resources/list.js}"></script>
<script src="static/default/script/authority/resources/edit.js" th:src="@{/default/script/authority/resources/edit.js}"></script>
<script src="static/default/script/authority/resources/view.js" th:src="@{/default/script/authority/resources/view.js}"></script>

<div class="rolelist sourcelist">
	<ol class="breadcrumb">
		<li>
			<i class="glyphicon glyphicon-home"></i>
			<a href="#" data="2" url="home">首页</a>
		</li>
		<li>
			<a href="#">资源管理</a>
		</li>
		<li class="active">资源列表</li>
		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="搜索你想找到的..."/>
					<span class="input-group-btn">
			        <button class="btn btn-default" type="button">
						<img src="static/default/image/common/iconsearch.png" alt="" th:src="@{/default/image/common/iconsearch.png}"/>
			        </button>
			        </span>
				</div>
				<!-- /input-group -->
			</form>
		</div>
	</ol>
	<div class="alertArea"></div>
	<div class="alert alert-danger">
		<i class="glyphicon glyphicon-hand-right"></i> 温馨提示：此页面展示资源列表，您可以对资源查看、编辑、删除、授权及批量删除和新建的操作。单击右方x号，可以关闭此条提示语！

		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	</div>
	<div class="tablewrap">
		<table class="table ">
			<thead>
				<tr>
					<th style="width:0.8rem     padding-left: 0.45rem; ">
						
					</th>
					<th style="width:12.5%;min-width:94px;">
						编号
						<span class="sort">
							<i class="glyphicon glyphicon-triangle-top"></i>
							<i class="glyphicon glyphicon-triangle-bottom"></i>
						</span>
					</th>
					<!-- <th style="width:25%"> -->
					<th style="width:22%">
						资源类型
						<span class="sort">
							<i class="glyphicon glyphicon-triangle-top"></i>
							<i class="glyphicon glyphicon-triangle-bottom"></i>
						</span>
					</th>
					<th style="width:22%">
						资源名称
						<span class="sort">
							<i class="glyphicon glyphicon-triangle-top"></i>
							<i class="glyphicon glyphicon-triangle-bottom"></i>
						</span>
					</th>
					<th style="width:22%">
						父级资源
						<span class="sort">
							<i class="glyphicon glyphicon-triangle-top"></i>
							<i class="glyphicon glyphicon-triangle-bottom"></i>
						</span>
					</th>
					<th style="width:1rem">查看</th>
					<th style="width:1rem">编辑</th>
					<th style="width:1rem">删除</th>
				</tr>
			</thead>
			<!-- <tbody>
				<tr listid='01'>
					<td>
						<label>
							<input type="checkbox" name="layout"/>
						</label>
					</td>
					<td>
						01
					</td>
					<td>
						菜单
					</td>
					<td>
						员工
					</td>
					<td>
						权限管理
					</td>
					<td>
						<span class="icon-eye-open iconact viewResource"></span>
					</td>
					<td>
						<span class="icon-pencil iconact editResource"></span>
					</td>
					<td>
						<span class="icon-trash iconact removeBtn"></span>
					</td>
				</tr>
				<tr listid='02'>
					<td>
						<label>
							<input type="checkbox" name="layout"/>
						</label>
					</td>
					<td>
						01
					</td>
					<td>
						菜单
					</td>
					<td>
						员工
					</td>
					<td>
						权限管理
					</td>
					<td>
						<span class="icon-eye-open iconact viewResource"></span>
					</td>
					<td>
						<span class="icon-pencil iconact editResource"></span>
					</td>
					<td>
						<span class="icon-trash iconact removeBtn"></span>
					</td>
				</tr>
				<tr listid='03'>
					<td>
						<label>
							<input type="checkbox" name="layout"/>
						</label>
					</td>
					<td>
						01
					</td>
					<td>
						菜单
					</td>
					<td>
						员工
					</td>
					<td>
						权限管理
					</td>
					<td>
						<span class="icon-eye-open iconact viewResource"></span>
					</td>
					<td>
						<span class="icon-pencil iconact editResource"></span>
					</td>
					<td>
						<span class="icon-trash iconact removeBtn"></span>
					</td>
				</tr>
				<tr listid='04'>
					<td>
						<label>
							<input type="checkbox" name="layout"/>
						</label>
					</td>
					<td>
						01
					</td>
					<td>
						菜单
					</td>
					<td>
						员工
					</td>
					<td>
						权限管理
					</td>
					<td>
						<span class="icon-eye-open iconact viewResource"></span>
					</td>
					<td>
						<span class="icon-pencil iconact editResource"></span>
					</td>
					<td>
						<span class="icon-trash iconact removeBtn"></span>
					</td>
				</tr>
				<tr listid='05'>
					<td>
						<label>
							<input type="checkbox" name="layout"/>
						</label>
					</td>
					<td>
						01
					</td>
					<td>
						菜单
					</td>
					<td>
						员工
					</td>
					<td>
						权限管理
					</td>
					<td>
						<span class="icon-eye-open iconact viewResource"></span>
					</td>
					<td>
						<span class="icon-pencil iconact editResource"></span>
					</td>
					<td>
						<span class="icon-trash iconact removeBtn"></span>
					</td>
				</tr>
				<tr listid='06'>
					<td>
						<label>
							<input type="checkbox" name="layout"/>
						</label>
					</td>
					<td>
						01
					</td>
					<td>
						菜单
					</td>
					<td>
						员工
					</td>
					<td>
						权限管理
					</td>
					<td>
						<span class="icon-eye-open iconact viewResource"></span>
					</td>
					<td>
						<span class="icon-pencil iconact editResource"></span>
					</td>
					<td>
						<span class="icon-trash iconact removeBtn"></span>
					</td>
				</tr>
				<tr listid='07'>
					<td>
						<label>
							<input type="checkbox" name="layout"/>
						</label>
					</td>
					<td>
						01
					</td>
					<td>
						菜单
					</td>
					<td>
						员工
					</td>
					<td>
						权限管理
					</td>
					<td>
						<span class="icon-eye-open iconact viewResource"></span>
					</td>
					<td>
						<span class="icon-pencil iconact editResource"></span>
					</td>
					<td>
						<span class="icon-trash iconact removeBtn"></span>
					</td>
				</tr>
			</tbody> -->
			 <tbody id="resourceList">
            
            </tbody>
		</table>
		<div class="tfoot">
			<div class="btns">
				<span class="newPro" url="resources/add">
					<img src="static/default/image/authority/list/icons4.png" alt="" th:src="@{/default/image/authority/list/icons4.png}"/>
					新建
				</span>
				<span class="renovate">
					<img src="static/default/image/authority/list/icons1.png" alt="" th:src="@{/default/image/authority/list/icons1.png}"/>
					刷新
				</span>
				<span class="resource_removeAllBtn">
					<img src="static/default/image/authority/list/icons2.png" alt="" th:src="@{/default/image/authority/list/icons2.png}"/>
					删除
				</span>
			</div>
			<div id="page">

			</div>
		</div>
	</div>
</div>
<!-- 模板框引入 -->
<div th:replace="/default/authority/resources/view :: viewResource"></div>
<div th:replace="/default/authority/resources/edit :: editResource"></div>
