<script src="static/default/script/common/modal.js" th:src="@{/default/script/common/modal.js}"></script>
<script src="static/default/script/common/common.js" th:src="@{/default/script/common/common.js}"></script>
﻿<script src="static/default/script/common/LemonGetList.js" th:src="@{/default/script/common/LemonGetList.js}"></script>
<script src="public/common/pagination/jquery.simplePagination.js" th:src="@{/common/pagination/jquery.simplePagination.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
function resourceListInit(){
	$("#resourceList").LemonGetList({
		useLocalStorage: true,
		className_Page:"#page",
	    requestListUrl : 'resources/data',
	    generateItemFun : function(index,value,data,extend){
	   		var thisType = '';
	   		switch(value.resourceType){
	   			case 1:
	   				thisType = '菜单';
	   				break;
	   			case 2:
	   				thisType = '文件';
	   				break;
	   			default:
	   				thisType = '未知';
	   				break;
	   		}
	   		if(!value.resourcePName) value.resourcePName = '无';
	   		var tr_data = '<tr resource_id='+ value.id +extend+'>'+
	   			'<td class="checkboxtd">'+
	   				'<label>'+
	   					'<input  type="checkbox" name="layout"/>'+
	   				'</label>'+
	   			'</td>'+
	   			'<td>'+
	   				(index+1) +
	   			'</td>'+
	   			'<td title='+ thisType +'>'+
	   				thisType +
	   			'</td>'+
	   			'<td title='+ value.resourceName +'>'+
	   				value.resourceName +
	   			'</td>'+
	   			'<td title='+ value.resourcePName +'>'+
	   				value.resourcePName +
	   			'</td>'+
	   			'<td>'+
	   				'<span class="icon-eye-open iconact viewResource"></span>'+
	   			'</td>'+
	   			'<td>'+
	   				'<span class="icon-pencil iconact editResource"></span>'+
	   			'</td>'+
	   			'<td>'+
	   				'<span class="icon-trash iconact removeBtn"></span>'+
	   			'</td>'+
	   		'</tr>';
	       	return tr_data; 
   		},
   		afterFun : function(){
   		}
	})
}
resourceListInit();
$('.removeBtn').bindDialogs({
	content : '你确定删除这个资源吗？',
	success:function(handle){
		var resourceId = $(handle).closest('tr').attr('resource_id');
		$.post("resources/delete",{
			id:resourceId,
		},function(data){
			if(data.success == true) {
				$('.alertArea').showAlert({content:'删除成功'});
				removeStorage();
				resourceListInit();
			}else{
				$('.alertArea').showAlert({content:'删除失败',type:'danger'});
			}
		},'json');
	}
});

//刷新页面
$(document).on("click",".renovate",function(){
	removeStorage();
	resourceListInit();
})
//添加编辑事件
$("table").on("click",".editResource", function(e) {
	e.preventDefault();
	////获取到本地的某条数据
	var storage_name = $(this).closest('tr').attr('storage_name');
	var storage_id = $(this).closest('tr').attr('storage_id');
	var data = getDataByStorage(storage_name,storage_id);
	var class_name =  $("#editModal").find(".modal-contentbox").attr("maxClassName")
	$("#editModal").find(".modal-contentbox").appendTo(".ajax_dom").addClass(class_name)
	editSource(data);
});
//添加查看事件
$("table").on("click",".viewResource", function(e) {
	e.preventDefault();
	////获取到本地的某条数据
	var storage_name = $(this).closest('tr').attr('storage_name');
	var storage_id = $(this).closest('tr').attr('storage_id');
	var data = getDataByStorage(storage_name,storage_id);
	var class_name =  $("#viewModal").find(".modal-contentbox").attr("maxClassName")
	$("#viewModal").find(".modal-contentbox").appendTo(".ajax_dom").addClass(class_name)
	viewSource(data);
	
});
//编辑js
function beforeMaxEditResourceModal(){	
			
			$(".relateCtl [type='checkbox']").iCheck({
				checkboxClass: 'icheckbox_flat-blue',
				increaseArea: '20%' // optional
			});
			$(".in_input_num .limitlength").html(12-$(".in_input_num input").val().length)
			$(".in_input_num input").on("keyup",function(){
				var val = $(this).val().length
				$(".in_input_num .limitlength").html(12-val)
			})	
}


function dealDataToModal(data){
	
	$("#edit_resourceId").val(data.id)
	$("#edit_resourceName").val(data.resourceName)
	$("#edit_resourceType").val(data.resourceType)
	
	$.each(data.operationList, function(i,v){	
			
		$("input[displayname = "+v.displayName+"]").prop("checked",true)
	})
	beforeMaxEditResourceModal()
	//$("#edit_operation").val(operationName)
	
	$('.select_resourceList').LemonGetList({
		requestListUrl:'resources/listAll',
		beforeFun:function(data){
			return getListByTree(data);
		},
		generateItemFun:function(index,value){
			var itemHtml = '';
			if(index == 0 ){ itemHtml += '<option value="0">选择资源</option>';}
			
			var kongge_str = '';
			for(var i=0;i<value.level;i++){
				kongge_str += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
			}
			kongge_str += '|-';
			
			itemHtml += '<option  value="'+value.id+'" ';
			itemHtml += ' >'+kongge_str+value.resourceName+'</option>';
			return itemHtml;
		},
		afterFun:function(){
			if(data.resourcePId >= 1){
				$('.select_resourceList option').each(function(val){
					if($(this).attr('value') == data.resourcePId){
						$(this).attr('selected','selected');
					}
				})
			}
		},
		emptyDataFun : function(){
			return '<option value="0" '+'>没有数据</option>';
		}
	})
}
$(".btnbox").on("click","#submit_editResource",function(){
	var tem_str = '';
	$("#edit_operation input:checked").each(function(){
		if(!tem_str) {
			tem_str += $(this).val();
		}else{
			tem_str +=',' + $(this).val();
		}
	})
	$.post("resources/edit",
		{
			id:$("#edit_resourceId").val(),
			resourceName:$("#edit_resourceName").val(),
			resourceType:$("#edit_resourceType option:selected").val(),
			resourcePId:$("#edit_resourcePId option:selected").val(),
			operation:tem_str
		},function(data){
			if(data.success){
				removeStorage();
				removeStorage();
				$(".ajax_dom").empty()
				$.ajax({
					url: "resources/list"
				}).done(function(data) {
					$('body #bodyModalArea').empty();
					$(data).appendTo($(".ajax_dom"))
					$('.alertArea').showAlert({
						content: '修改成功'
					});
				})
			}
			else{
				$(".ajax_dom").empty()
				$.ajax({
					url: "resources/list"
				}).done(function(data) {
					$('body #bodyModalArea').empty();
					$(data).appendTo($(".ajax_dom"))
					$('.alertArea').showAlert({
						content: '修改成功'
					});
				})
			}
		}
	,"json")
}) 
/*]]>*/
</script>

<div class="rolelist sourcelist">
	<ol class="breadcrumb">
		<li>
			<i class="glyphicon glyphicon-home"></i>
			<a href="#" data="2" url="home">首页</a>
		</li>
		<li>
			<a href="#">资源管理</a>
		</li>
		<li class="active">资源列表</li>
		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="搜索你想找到的..."/>
					<span class="input-group-btn">
			        <button class="btn btn-default" type="button">
						<img src="static/default/image/common/iconsearch.png" alt="" th:src="@{/default/image/common/iconsearch.png}"/>
			        </button>
			        </span>
				</div>
				<!-- /input-group -->
			</form>
		</div>
	</ol>
	<div class="alertArea"></div>
	<div class="alert alert-danger">
		<i class="glyphicon glyphicon-hand-right"></i> 温馨提示：此页面展示资源列表，您可以对资源查看、编辑、删除、授权及批量删除和新建的操作。单击右方x号，可以关闭此条提示语！

		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	</div>
	<div class="tablewrap">
		<table class="table ">
			<thead>
				<tr>
					<th style="width:0.8rem     padding-left: 0.45rem; ">
						
					</th>
					<th style="width:12.5%;min-width:94px;">
						编号
						<span class="sort">
							<i class="glyphicon glyphicon-triangle-top"></i>
							<i class="glyphicon glyphicon-triangle-bottom"></i>
						</span>
					</th>
					<!-- <th style="width:25%"> -->
					<th style="width:22%">
						资源类型
						<span class="sort">
							<i class="glyphicon glyphicon-triangle-top"></i>
							<i class="glyphicon glyphicon-triangle-bottom"></i>
						</span>
					</th>
					<th style="width:22%">
						资源名称
						<span class="sort">
							<i class="glyphicon glyphicon-triangle-top"></i>
							<i class="glyphicon glyphicon-triangle-bottom"></i>
						</span>
					</th>
					<th style="width:22%">
						父级资源
						<span class="sort">
							<i class="glyphicon glyphicon-triangle-top"></i>
							<i class="glyphicon glyphicon-triangle-bottom"></i>
						</span>
					</th>
					<th style="width:1rem">查看</th>
					<th style="width:1rem">编辑</th>
					<th style="width:1rem">删除</th>
				</tr>
			</thead>
			<!-- <tbody>
				<tr listid='01'>
					<td>
						<label>
							<input type="checkbox" name="layout"/>
						</label>
					</td>
					<td>
						01
					</td>
					<td>
						菜单
					</td>
					<td>
						员工
					</td>
					<td>
						权限管理
					</td>
					<td>
						<span class="icon-eye-open iconact viewResource"></span>
					</td>
					<td>
						<span class="icon-pencil iconact editResource"></span>
					</td>
					<td>
						<span class="icon-trash iconact removeBtn"></span>
					</td>
				</tr>
				<tr listid='02'>
					<td>
						<label>
							<input type="checkbox" name="layout"/>
						</label>
					</td>
					<td>
						01
					</td>
					<td>
						菜单
					</td>
					<td>
						员工
					</td>
					<td>
						权限管理
					</td>
					<td>
						<span class="icon-eye-open iconact viewResource"></span>
					</td>
					<td>
						<span class="icon-pencil iconact editResource"></span>
					</td>
					<td>
						<span class="icon-trash iconact removeBtn"></span>
					</td>
				</tr>
				<tr listid='03'>
					<td>
						<label>
							<input type="checkbox" name="layout"/>
						</label>
					</td>
					<td>
						01
					</td>
					<td>
						菜单
					</td>
					<td>
						员工
					</td>
					<td>
						权限管理
					</td>
					<td>
						<span class="icon-eye-open iconact viewResource"></span>
					</td>
					<td>
						<span class="icon-pencil iconact editResource"></span>
					</td>
					<td>
						<span class="icon-trash iconact removeBtn"></span>
					</td>
				</tr>
				<tr listid='04'>
					<td>
						<label>
							<input type="checkbox" name="layout"/>
						</label>
					</td>
					<td>
						01
					</td>
					<td>
						菜单
					</td>
					<td>
						员工
					</td>
					<td>
						权限管理
					</td>
					<td>
						<span class="icon-eye-open iconact viewResource"></span>
					</td>
					<td>
						<span class="icon-pencil iconact editResource"></span>
					</td>
					<td>
						<span class="icon-trash iconact removeBtn"></span>
					</td>
				</tr>
				<tr listid='05'>
					<td>
						<label>
							<input type="checkbox" name="layout"/>
						</label>
					</td>
					<td>
						01
					</td>
					<td>
						菜单
					</td>
					<td>
						员工
					</td>
					<td>
						权限管理
					</td>
					<td>
						<span class="icon-eye-open iconact viewResource"></span>
					</td>
					<td>
						<span class="icon-pencil iconact editResource"></span>
					</td>
					<td>
						<span class="icon-trash iconact removeBtn"></span>
					</td>
				</tr>
				<tr listid='06'>
					<td>
						<label>
							<input type="checkbox" name="layout"/>
						</label>
					</td>
					<td>
						01
					</td>
					<td>
						菜单
					</td>
					<td>
						员工
					</td>
					<td>
						权限管理
					</td>
					<td>
						<span class="icon-eye-open iconact viewResource"></span>
					</td>
					<td>
						<span class="icon-pencil iconact editResource"></span>
					</td>
					<td>
						<span class="icon-trash iconact removeBtn"></span>
					</td>
				</tr>
				<tr listid='07'>
					<td>
						<label>
							<input type="checkbox" name="layout"/>
						</label>
					</td>
					<td>
						01
					</td>
					<td>
						菜单
					</td>
					<td>
						员工
					</td>
					<td>
						权限管理
					</td>
					<td>
						<span class="icon-eye-open iconact viewResource"></span>
					</td>
					<td>
						<span class="icon-pencil iconact editResource"></span>
					</td>
					<td>
						<span class="icon-trash iconact removeBtn"></span>
					</td>
				</tr>
			</tbody> -->
			 <tbody id="resourceList">
            
            </tbody>
		</table>
		<div class="tfoot">
			<div class="btns">
				<span class="newPro" url="resources/add">
					<img src="static/default/image/authority/list/icons4.png" alt="" th:src="@{/default/image/authority/list/icons4.png}"/>
					新建
				</span>
				<span class="renovate">
					<img src="static/default/image/authority/list/icons1.png" alt="" th:src="@{/default/image/authority/list/icons1.png}"/>
					刷新
				</span>
				<span class="resource_removeAllBtn">
					<img src="static/default/image/authority/list/icons2.png" alt="" th:src="@{/default/image/authority/list/icons2.png}"/>
					删除
				</span>
			</div>
			<div id="page">

			</div>
		</div>
	</div>
</div>
<!-- 模板框引入 -->
<div th:replace="/default/authority/resources/view :: viewResource"></div>
<div th:replace="/default/authority/resources/edit :: editResource"></div>
