#role-authorization .modal-dialog{
	width:10.24rem;
	margin:1.4rem auto 0;
}

@media (max-width:768px){
	#role-authorization .modal-dialog{
		width:6rem;
	}
}
#role-authorization .modal-content{
	overflow:hidden;
	width:10.24rem;
}
@media (max-width:768px){
	#role-authorization .modal-content{
		width:6rem;
	}
}
#role-authorization .modal-content .titleaut{
	height: 0.6rem;
	line-height: 0.6rem;
	padding:0 0.25rem;
	background-color: rgba(55, 142, 248, 1);
	color:rgb(255,255,255);
	position:relative;
}
#role-authorization .modal-content .titleautlg{
	display: none;
}
#role-authorization .modal-content .titleaut:before{
	position:absolute;
	content:'';
	width:0.04rem;
	height:0.2rem;
	background:rgb(255,255,255);
	left:0.25rem;
	top:0.2rem;
}
#role-authorization .modal-content .titleaut p{
	font-size:0.18rem;
	padding-left:0.08rem;
	float:left;
	line-height:0.6rem;
}
#role-authorization .modal-content .titleaut div.btns{
	float:right;
	height:0.6rem;
}
#role-authorization .modal-content .titleaut div.btns a{
	float:left;
	width:0.3rem;
	height:0.6rem;
	margin-left:0.1rem;
}
#role-authorization .modal-content .titleaut div.btns a img{
	width:100%;
	height:100%;
}
#role-authorization .modal-content form{
	display: block;
	padding:0.4rem 0.7rem 0.4rem 1rem;
}
#role-authorization form .form-group label{
	font-size:0.18rem;
	color:rgb(0,0,0);
	position:relative;
	/*line-height: 0.2rem;*/
}
#role-authorization form .form-group >label:before{
	position:absolute;
	content:'';
	top:50%;
	left:-0.3rem;
	width:6px;
	height:6px;
	margin-top:-3px;
	border-radius:50%;
	background:rgba(55, 142, 248, 1);
}
#role-authorization form .form-group >label.prompt:before{
	display: none;
}
.rolename, .authorization{
	font-size:0.16rem;
	color:rgb(102,102,102);
	height: 0.52rem;
	line-height: 0.52rem;
	outline:none;
	box-shadow: none;
}
#role-authorization form .form-group #rolename:focus{
	background:rgb(244,244,244);
}
#role-authorization form .rolename{
	display: block;
	margin-bottom:0rem;
}
#role-authorization form .rolename span.errormessage{
	float:right;
	color:rgb(245,82,58);
	font-size:0.16rem;

}
/*����*/
#role-authorization .role-slider{
	width:3.4rem;
	height:0.1rem;
	border-radius:0.05rem;
	margin:0.2rem;
	background:rgb(244,244,244);
	display: none;
}
#role-authorization .ui-state-default{
	
	width: 0.24rem;
	height:0.24rem;
	background-color: rgba(245, 245, 245, 1);
	border-radius: 0.05rem;
	border: solid 1px rgba(55, 142, 248, 1);

}
#role-authorization .ui-slider-horizontal .ui-slider-handle{
	top:-0.07rem;
	text-align: center;
}
#role-authorization .ui-slider-horizontal .ui-slider-handle:before{
	content:'|||';
	color:rgba(55, 142, 248, 1);
	font-size:0.17rem;
}
#role-authorization .ui-slider-horizontal .ui-slider-range-min{
	background:rgb(55,142,248);
}
.inputwrapper{
	position:relative;
}
.inputwrapper input[type=text]{
	background:rgb(244,244,244);
	box-shadow: none;
}
.inputwrapper input[type=text]:focus{
	background:rgb(244,244,244);
	box-shadow: none;
}
.inputwrapper span{
	position:absolute;
	font-size: 0.35rem;
	right:0.12rem;
	top:50%;
	margin-top:-0.17rem;
}
.inputwrapper span.rolenamelimit{
	position:absolute;
	font-size: 0.16rem;
	right:0.5rem;
	top:50%;
	margin-top:-0.2rem;
	/*width:;*/
	line-height:0.4rem;
	color:red;
}
.icon-exclamation-sign{
	color:rgb(245,82,58);
}
.icon-ok-sign{
	display: none;
	color:rgb(91,222,147);
}
/*��ѡ������*/

#role-authorization .wrapper{
	width: 100%;
	height: 2.3rem;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 0.06rem 0.06rem 0.06rem 0.06rem;
	border: solid 1px rgba(55, 142, 248, 1);
	overflow: hidden;
	position:relative;
}
#role-authorization .wrapper header{
	height: 0.54rem;
	line-height: 0.54rem;
	background-color: rgba(222, 233, 247, 1);
	border-radius: 0.06rem 0.06rem 0 0;

}

#role-authorization .wrapper header .icheckbox_flat-blue{
	/*border:1px solid rgb(191,191,191);*/
	margin-top:-3px;
	background-color:white;
	border-radius: 6px;
	transform: scale(0.75);
}
#role-authorization .form-group >label.prompt{
	margin-top:0.1rem;
}
#role-authorization .form-group >label.prompt .icheckbox_flat-blue{
	/*border:1px solid rgb(191,191,191);*/
	margin-top:-3px;
	background-color:white;
	border-radius: 6px;
	transform: scale(0.75);
}
#role-authorization .wrapper header label{
	float:left;
	padding-left:0.3rem;
	font-size:0.14rem;
	margin-bottom:0;
	line-height: 0.52rem;
}
#role-authorization .wrapper header label.prompt{
	float:right;
	padding-right:0.1rem;
}
label{
	font-weight:400;
}
#role-authorization .treezl{
	position:absolute;
	top:0.54rem;
	left:0;
	right:0;
	bottom:0;
	overflow:auto; 
}
.jstree-default .jstree-disabled.jstree-clicked{
	background:rgba(0,0,0,0);
}
#role-authorization .btnbox{
	text-align: center;
}
#role-authorization .btnbox button{
	font-size:0.22rem;
	color:rgb(255,255,255);
	/*width: 1.3rem;
	height: 0.5rem;*/
	padding:0.15rem 0.45rem;
	line-height: 0.2rem;
	/*background-color: rgba(171, 186, 195, 1);*/
	background-color: rgba(111, 179, 224, 1);
	border-radius: 0.05rem 0.05rem 0.05rem 0.05rem;
	border:1px solid rgba(111, 179, 224, 1);
	outline: none;
}
#role-authorization .btnbox button:last-child{
	color:rgba(111, 179, 224, 1);
	background:rgb(255,255,255);
	margin-left:0.47rem;
	margin-right:0.3rem;
}
/*#role-authorization button:hover{
	background-color: rgba(55, 142, 248, 1);
}*/
#role-authorization button.success{
	background-color: rgba(55, 142, 248, 1);
}
#role-authorization form .inputwrapper span.errormessage{
	color:rgb(245,82,58);
	font-size:0.16rem;
	display: none;
	position:absolute;
	left:100%;
	top:50%;
	margin-top:-0.12rem;
	margin-left:0.4rem;
	right:-2rem;
}
#role-authorization .breadcrumb{
	display:none;
}

/*�����ʽ*/

.role-authorizationlg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,1);
    z-index: 12;
    border-radius:0;
    /* height: 100%; */
    /* background: red; */
    bottom:0;
    padding: 0 0.45rem;

}
.role-authorizationlg .modal-dialog{
    padding: 0 0.45rem;
	width:100%;
	height:100%;
	margin:0;
}
.role-authorizationlg .modal-content{
	width:100%;
	height:100%;
	margin:0;
	box-shadow: none;
}
.role-authorizationlg .breadcrumb{
	display:block!important;
}
.role-authorizationlg .breadcrumb form{
	padding:0;
}
.role-authorizationlg  .titleaut{
	display: none;
}
.role-authorizationlg  .titleautlg{
	height: 0.8rem;
	line-height: 0.8rem;
	/*padding:0 0.25rem;*/
	background-color: rgba(55, 142, 248, 0);
	color:rgb(51,51,51);
	position:relative;
	border-bottom:1px solid rgba(213,213,213,1);
}
.role-authorizationlg  .titleautlg:before{
	position:absolute;
	content:'';
	width:0.04rem;
	height:0.24rem;
	background:rgb(55,142,248);
	left:0rem;
	top:0.28rem;
}
.role-authorizationlg  .titleautlg p{
	font-size:0.24rem;
	padding-left:0.1rem;
	float:left;
	line-height: 0.8rem;
}
.role-authorizationlg  .titleautlg div.btns{
	float:right;
	height:0.6rem;
	margin-top:0.1rem;
}
.role-authorizationlg  .titleautlg div.btns a{
	float:left;
	width:0.3rem;
	height:0.6rem;
	margin-left:0.1rem;
}
.role-authorizationlg  .titleautlg div.btns a img{
	width:100%;
	height:100%;
	vertical-align: top;
}
.role-authorizationlg  form{
	display: block;
	padding:0.4rem 0.3rem;
}
.role-authorizationlg form .form-group label{
	font-size:0.18rem;
	color:rgb(0,0,0);
	position:relative;
	/*line-height: 0.2rem;*/
	float:left;
	font-size:0.18rem;
	color:rgb(51,51,51);
}
@media (max-width:992px){
	.role-authorizationlg form .form-group>label{
		float:none;
		display: block;
	}
}
.role-authorizationlg form .form-group>label{
	line-height: 0.52rem;
}
.role-authorizationlg form .form-group >label:before{
	position:absolute;
	content:'';
	top:50%;
	left:-0.3rem;
	width:6px;
	height:6px;
	margin-top:-3px;
	border-radius:50%;
	background:rgba(55, 142, 248, 1);
}
.role-authorizationlg .form-group >label.prompt:before{
	display:none;
}
.role-authorizationlg .form-group >label.prompt .icheckbox_flat-blue{
	transform: scale(0.75);
	margin-top:-0.04rem;
}
/*#rolename, #authorization{
	font-size:0.16rem;
	color:rgb(102,102,102);
	height: 0.52rem;
	line-height: 0.52rem;
	outline:none;
	box-shadow: none;
}*/
.role-authorizationlg form .form-group .rolename:focus{
	background:rgb(244,244,244);
}
.role-authorizationlg form #rolename{
	display: inline-block;
	margin-bottom:0rem;
	color:rgb(51,51,51);
	font-size:0.18rem;
}
.role-authorizationlg form .rolename span.errormessage{
	float:right;
	color:rgb(245,82,58);
	font-size:0.16rem;
	display: none;
}
@media (max-width:992px){
	.role-authorizationlg form .rolename span.errormessage{
		display: block;
	}
}
.role-authorizationlg form .inputwrapper span.errormessage{
	color:rgb(245,82,58);
	font-size:0.16rem;
	display: block;
	position:absolute;
	left:100%;
	top:50%;
	margin-top:-0.12rem;
	margin-left:0.45rem;
	right:-17em;
}
/*����*/
.role-authorizationlg .role-slider{
	width:3.4rem;
	height:0.1rem;
	border-radius:0.05rem;
	margin:0.2rem;
	background:rgb(244,244,244);
	display: block;
	border:0!important;
	margin-left:1.25rem;
}
@media (max-width:992px){
	.role-authorizationlg .role-slider{
		display: none;
	}
}
.role-authorizationlg .ui-state-default{
	
	background-color: rgba(245, 245, 245, 1);
	border-radius: 0.05rem;
	border: solid 1px rgba(55, 142, 248, 1);

}
.role-authorizationlg .ui-slider-horizontal .ui-slider-handle{
	top:-0.07rem;
	text-align: center;
	background-image:url('../../../images/sys/slidericon.png');
	background-repeat: no-repeat;
	background-position:center;
	background-size:0.22rem 0.24rem;
}
.role-authorizationlg .ui-state-default,.role-authorizationlg .ui-widget-content .ui-state-default{
	background-color: rgba(245, 245, 245, 1);
	border-radius: 0.05rem;
	border: solid 1px rgba(55, 142, 248, 1);
	width: 0.22rem;
	height:0.24rem;
}
.role-authorizationlg .ui-state-active,.role-authorizationlg .ui-slider-handle{
	background-color: rgba(245, 245, 245, 1)!important;
}
/*.role-authorizationlg .ui-slider-horizontal .ui-slider-handle:before{
	content:'|||';
	color:rgba(55, 142, 248, 1);
	font-size:0.17rem;
	position:relative;
	top:-0.02rem;
}*/
.role-authorizationlg .ui-slider-horizontal .ui-slider-range-min{
	background:rgb(55,142,248);
}
.role-authorizationlg .inputwrapper{
	overflow: hidden;
	position:relative;
	padding-left:0.4rem;
	padding-right:3rem;
}
@media (max-width:992px){
	.role-authorizationlg .inputwrapper{
		padding:0;
	}
}
.role-authorizationlg .inputwrappermax{
	position: relative;
	width:50%;
}
@media (max-width:992px){
	.role-authorizationlg .inputwrappermax{
		width:100%!important;
	}
}
.role-authorizationlg .inputwrapper span{
	position:absolute;
	font-size: 0.35rem;
	right:-0.4rem;
	top:50%;
	margin-top:-0.17rem;
}
@media (max-width:992px){
	.role-authorizationlg .inputwrapper span{
		right:0.12rem;
	}
}
.role-authorizationlg .inputwrapper span.rolenamelimit{
	position:absolute;
	font-size: 0.16rem;
	right:0.12rem;
	top:50%;
	margin-top:-0.2rem;
	/*width:;*/
	line-height:0.4rem;
	color:red;
}
@media (max-width:992px){
	.role-authorizationlg .inputwrapper span.rolenamelimit{
		right:0.5rem;
	}
}
.icon-exclamation-sign{
	color:rgb(245,82,58);
}
.icon-ok-sign{
	display: none;
	color:rgb(91,222,147);
}
/*��ѡ������*/

.role-authorizationlg .wrapper{
	width: auto;
	height: 5rem;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 0.06rem 0.06rem 0.06rem 0.06rem;
	border: solid 1px rgba(55, 142, 248, 1);
	overflow: hidden;
	position:relative;
	margin-left:1.13rem;
}
@media (max-width:992px){
	.role-authorizationlg .wrapper{
		margin-left:0;
	}
}
.role-authorizationlg .wrapper header{
	height: 0.54rem;
	line-height: 0.54rem;
	background-color: rgba(222, 233, 247, 1);
	border-radius: 0.06rem 0.06rem 0 0;

}
.role-authorizationlg .wrapper header .icheckbox_flat-blue{
	/*border:1px solid rgb(191,191,191);*/
	margin-top:-3px;
	background-color:white;
	border-radius: 6px;
	transform: scale(0.75);
}
.role-authorizationlg .wrapper header label{
	line-height: 0.54rem;
	float:left;
	padding-left:0.3rem;
	font-size:0.14rem;
	margin-bottom:0;
}
.role-authorizationlg .wrapper header label.prompt{
	float:right;
	padding-right:0.1rem;
}
.role-authorizationlg .treezl{
	position:absolute;
	top:0.54rem;
	left:0;
	right:0;
	bottom:0;
	overflow:auto; 
}
.role-authorizationlg .btnbox{
	text-align: center;
}
.role-authorizationlg .btnbox button.btn:active:focus{
	outline: none;
}
/*.role-authorizationlg .btnbox button.btn-default:active:hover, .role-authorizationlg .btnbox button.btn-default:active:focus{
	border:1px solid rgba(111, 179, 224, 1);
	background-color: rgba(111, 179, 224, 1);
	color:rgb(255,255,255);
} */
.role-authorizationlg .btnbox button.btn{
	font-size:0.22rem;
	color:rgb(255,255,255);
	/*width: 1.3rem;
	height: 0.5rem;*/
	padding:0.15rem 0.45rem;
	line-height: 0.22rem;
	/*background-color: rgba(171, 186, 195, 1);*/
	background-color: rgba(111, 179, 224, 1);
	border-radius: 0.05rem 0.05rem 0.05rem 0.05rem;
	border:1px solid rgba(111, 179, 224, 1);
	outline: none;
}
.role-authorizationlg .btnbox button:last-child{
	color:rgba(111, 179, 224, 1);
	background:rgb(255,255,255);
	margin-left:0.47rem;
	/*margin-right:0.3rem;*/
}
/*.role-authorizationlg button:hover{
	background-color: rgba(55, 142, 248, 1);
}*/
.role-authorizationlg button.success{
	background-color: rgba(55, 142, 248, 1);
}
#role-authorization input[type=text]{
	height:0.52rem;
}
#user-authorization input[type=text]{
	height:0.52rem;
}
.role-authorizationlg .form_content input[type=text]{
	height:0.52rem;
}
#user-authorizationlg .form_content input[type=text]{
	height:0.52rem;
}
/*.modal-open{
	overflow: visible;
	padding:0!important;
}*/