//面包屑样式
//.crumbs_nav {
//  background-color: #f1f1f1;
//  height: 60px;
//  padding:0 10px;
//  .col-lg-1, .col-lg-3, .col-lg-11, .col-lg-2 {
//    padding: 0;
//  }
//  .crumbs {
//    font-size: 18px;
//    line-height: 60px;
//    .crumbs_font_home {
//      color: #3d8ff3;
//      text-align: center;
//    }
//    .crumbs_font_box {
//      .crumbs_font, .crumbs_icon {
//        span {
//          font-size: 18px;
//          width: auto;
//          a {
//            font-size: 18px;
//            &:hover {
//              color: #378ef8;
//            }
//            &.active {
//              color: #378ef8;
//            }
//          }
//        }
//      }
//      .crumbs_icon {
//        text-align: center;
//        width: auto;
//        padding: 0 8px;
//        span {
//          font-size: 22px;
//          color: #999999;
//          vertical-align: sub;
//        }
//      }
//    }
//  }
//  .pull-right{
//    height:100%;
//    margin-top:10px;
//    from{
//      height:42px;
//      .input-group{
//        height:42px;
//        border-radius:5px;
//        border:#9a9a9a;
//        input{
//          height:100%;
//        }
//        .input-group-btn{
//          height:100%;
//          button{
//            height:42px;
//
//          }
//        }
//      }
//    }
//  }
//}
@import url(../common/error_font.css);
@import url(../common/hearder_icon.css);
//编辑角色最大
.container-fluid {
    padding: 0 0.44rem;
    .row {
        margin-left: 0;
    }
    .role_hearder {
        width: 100%;
        height: 0.8rem;
        //line-height:80px;
        border-bottom: 1px solid #f3f3f3;
        .role_hearde_font {
            border-left: 3px solid #378ef8;
            padding-left: 5px;
            height: 0.23rem;
            margin-top: 0.27rem;
            line-height: 0.23rem;
            span {
                font-size: 0.24rem;
            }
        }
    }
    .role_content {
        padding: 0.9rem 0.7rem 0 1.14rem !important;
        .role_form {
            margin-bottom: 0.1rem;
            .form-horizontal {
                .form-group {
                    .form_clire {
                        width: 10px;
                        height: 10px;
                        line-height: 0.5rem;
                        span {
                            display: inline-block;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            background-color: #378ef8;
                            padding-left: 0;
                        }
                    }
                    label {
                        text-align: left;
                        font-size: 0.18rem;
                        font-weight: normal;
                        line-height: 0.5rem;
                        padding-top: 0;
                        padding-right: 0;
                    }
                    .form_input {
                        height: 0.52rem;
                        background-color: #f4f4f4;
                        border: 1px solid transparent;
                        border-radius: 10px;
//                      m-width: 382px;
 min-width:245px;
                        &.active {
                            border-color: #f5523a;
                        }
                        .form-control {
                            height: 100%;
                            color: #999999;
                            font-size: 0.1rem;
                            background-color: transparent;
                            width: 81%;
                            font-size: 0.18rem;
                            display: inline-block;
                            border: 0;
                            box-shadow: none;
                            &:focus {
                                box-shadow: none;
                            }
                        }
                        span {
                            font-size: 0.18rem;
                            line-height: 0.52rem;
                            float: right;
                            &.active {
                                color: #f5523a;
                            }
                        }
                    }
                    @media (max-width:1790px) {
                        .form_input {
                            max-width: 440px;
                        }
                    }
                    @media (max-width:1250px) {
                        .form_input {
                            max-width: 317px;
                        }
                    }
                    @media (max-width:982px) {
                        .form_input {
                            max-width: 187px;
                        }
                    }
                    @media (max-width:881px) {
                        .form_input {
                            max-width: 180px;
                        }
                    }
                }
            }
        }
        .role_content_error_xian {
            //    padding-left: 0.45rem;\
            margin-bottom: 0.1rem;
            .error_xian {
                //      max-width: 3.40rem;
                //      margin-left:21%;
                .error_box {
                    background-color: #cccccc;
                    border-radius: 20px;
                    height: 0.11rem;
                    margin-left: 4%;
                }
                @media (max-width:1179px) {
                    .error_box {
                        margin-left: 9%;
                    }
                }
                @media (max-width:978px) {
                    .error_box {
                        margin-left: 12%;
                    }
                }
                .ui-slider-range {
                    height: 0.11rem;
                }
                .ui-widget-header {
                    background-color: #378ef8;
                }
                span {
                    text-align: center;
                    line-height: 0.17rem;
                    width: 0.23rem;
                    height: 0.23rem;
                    top: -0.5em;
                    background-color: white;
                    border-color: #378ef8;
                    &.ui-state-active,
                    .ui-widget-content .ui-state-active {
                        background-color: white;
                    }
                    &.ui-state-hover {
                        background-color: white;
                    }
                    &.ui-state-focus {
                        border-color: #378ef8;
                    }
                    &:after {
                        content: "|||";
                        text-align: center;
                        font-size: 0.12rem;
                        color: #378ef8;
                    }
                }
            }
        }
        .role_fath {
            margin-bottom: 0.2rem;
            .fath_select {
                .form_clire {
                    width: 10px;
                    height: 10px;
                    line-height: 0.51rem;
                    //        padding: 0;
                    padding-left: 0;
                    span {
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-color: #378ef8;
                        padding: 0;
                    }
                }
                .fath_select_font {
                    font-size: 0.18rem;
                    line-height: 0.51rem;
                }
                .form_input {
                    margin-left: 5%;
                    //max-width:147px;
                    padding: 0;
                    .select {
                        min-width: 0;
                        width: 100%;
                        min-width: 121px;
                        .select2-choice {
                            background-color: transparent !important;
                            width: 100%;
                            .select2-chosen {
                                color: #666666;
                                font-size: 0.16rem;
                            }
                            .select2-arrow {
                                border-top-color: black;
                            }
                        }
                    }
                }
            }
        }
        .role_max_number {
            margin-bottom: 0.4rem;
            .form_clire {
                width: 10px;
                height: 10px;
                line-height: 0.42rem;
                span {
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: #378ef8;
                    padding: 0;
                }
            }
            label {
                line-height: 0.48rem;
                padding-right: 0;
                font-size: 0.18rem;
            }
            .max_number_add {
                padding: 0;
                padding-top: 0.13rem;
                line-height: 0.2rem;
                .reduce {
                    padding: 0;
                    text-align: center;
                    height: 0.23rem;
                    background-color: #b7b7b7;
                    &.active {
                        background-color: #378ef8;
                    }
                    a {
                        font-size: 0.24rem;
                        color: white;
                    }
                }
                .input {
                    width: 0.39rem;
                    height: 0.23rem;
                    padding: 0;
                    margin: 0 5px;
                    input {
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        text-align: center;
                    }
                }
                .add {
                    padding: 0;
                    height: 0.23rem;
                    text-align: center;
                    line-height: 0.23rem;
                    background-color: #b7b7b7;
                    &.active {
                        background-color: #378ef8;
                    }
                    a {
                        color: white;
                        font-size: 0.20rem;
                    }
                }
            }
        }
        .role_remarks {
            margin-top: 0.2rem;
            .form_clire {
                width: 10px;
                height: 10px;
                line-height: 0.42rem;
                span {
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: #378ef8;
                    padding: 0;
                }
            }
            label {
                font-size: 0.18rem;
                line-height: 0.48rem;
                padding-right: 0;
            }
            .role_write {
                border: 1px solid #f4f4f4;
                background-color: #f4f4f4;
                border-radius: 10px;
                padding: 0;
                height: 1.35rem;
                textarea {
                    padding: 0.1rem 0 0 0.2rem;
                    color: #999999;
                    font-size: 0.18rem;
                    resize: none;
                    background-color: transparent;
                    width: 100%;
                    height: 100%;
                    border: none;
                    &:focus {
                        outline: none;
                        border: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

//select的选择框
.select2-arrow {
    right: 0;
}

.select2-drop {
    min-width: 0 !important;
    background-color: white !important;
    border-radius: 10px !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.21) !important;
    .select2-result-with-children>.select2-result-label {
        color: #378ef8 !important;
        font-size: 0.16rem;
    }
    .select2-results {
        max-width: 100%;
        .select2-results-dept-0 {
            .select2-result-label {
                font-size: 0.16rem;
            }
            .select2-result-sub {
                .select2-highlighted {
                    .select2-result-label {
                        background-color: #e6e6e6;
                        color: #666666;
                    }
                }
            }
        }
    }
}

.error_font {
    line-height: 0.61rem;
}